venv/
*.pyc
scratch*
mybot.py
.vagrant
.virl/
*.retry
aci-k8s/host_vars/apic1.yaml
netsim/
netdevops-devenv/virl/configs/*.xml
netdevops-devenv/virl/default_inventory.yaml
netdevops-devenv/virl/topology.virl
netchatbot/env_bot
